* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  border: 1px solid red;
}
.primary-color {
  background-color: #f0ecf9;
}
.primary-text-color {
  color: #6f42c1 !important;
}
.customize-background-color {
  background-color: #6f42c1 !important;
}
.img-prop img {
  width: 70.55px;
  height: 80px;
}
.cutomize-radius {
  border-bottom-right-radius: 50%;
}
@media only screen and (max-width: 500px) {
  .font-size {
    font-size: 8px;
  }
}
